<!--nav-bar start-->
<div class="container">
  <nav class="navbar navbar-expand-lg" id="navbar">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['']" id="logo"
        ><span>A</span>mazon</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#mynavbar"
      >
        <span><i class="fa-solid fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['address']">Address</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['']">Contact Us</a>
            </li>

            <li class="nav-item" *ngIf="!userLoggedIn">
              <a class="nav-link" [routerLink]="['register']">Login</a>
            </li>
            
            <li class="nav-item dropdown" *ngIf="userLoggedIn">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Hi {{user.name}}
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><a class="dropdown-item" [routerLink]="['seller']">Seller Portal</a></li>
                <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
              
              </ul>
            </li>

            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle cart fw-semibold text-uppercase text-black  me-1" href="#"
              id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="getCartData()">
              <i class="fa fa-cart-shopping fs-5" style="color: #202122;"></i>
              <span class="position-absolute  translate-middle badge rounded-pill bg-danger">
               cart
                <span class="visually-hidden">unread messages</span>
              </span>
            </a>
            <div class="dropdown-menu"  [ngClass]="[cartproducts.length > 0 ? 'p-5'  : '']">
              <h4 *ngIf="cartproducts.length > 0">Cart</h4>
              <div *ngIf="cartproducts.length == 0" class="text-danger text-center h6 rounded-circle"> your cart is Empty</div>
              <table class="table" *ngIf="cartproducts.length > 0">
                <thead>
                  <tr>
                    <th scope="col">Sr.No</th>
                    <th scope="col">Image</th>
                    <th scope="col">quantity</th>
                    <th scope="col">price</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of cartproducts">
                    <th scope="row">{{item.id}}</th>
                    <td><img src={{item.image_url}} alt="" width="50px"></td>
                    <td>{{item.quantity}}</td>
                    <td> {{item.price * item.quantity}}</td>
                    <td><svg xmlns="http://www.w3.org/2000/svg" (click)="removeCart(item.id)" width="16" height="16" fill="red" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                      
                    </td>
                  </tr>
                
                  <tr>
                    <td> <a href="" class="btn btn-success" [routerLink]="'/checkout'">Checkout</a> </td>
                    <td> <a href="" (click) = "emptyCart()" class="btn btn-danger">Empty</a> </td>
                  </tr>
                </tbody>
              </table>

              </div>
            </li>
           
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)="searchProducts($event)">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    

       
      </div>
    </div>
  </nav>
</div>
<!--nav-bar end-->
