<div class="card mt-50 mb-50">
    <div class="col d-flex"><span class="text-muted" id="orderno">order #546924</span></div>
    <div class="gap">
        <div class="col-2 d-flex mx-auto"> </div>
    </div>
    <div class="title mx-auto"> Thank you for your order! </div>
    <div class="main"> <span id="sub-title">
            <p><b>Payment Summary</b></p>
        </span>


        <div class="row row-main" *ngFor="let item of cartproducts">
            <div class="col-3"> <img class="img-fluid" src="{{item.image_url}}"> </div>
            <div class="col-6">
                <div class="row d-flex">
                    <p><b>{{item.product_name}}</b></p>
                </div>
                <div class="row d-flex">
                    <p class="text-muted">128GB White</p>
                </div>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <p><b>{{item.price}}</b></p>
            </div>
        </div>
        <hr>
        <div class="total">
            <div class="row">
                <div class="col"> <b> Total:</b> </div>
                <div class="col d-flex justify-content-end"> <b>{{total}}</b> </div>
            </div> <button class="btn d-flex mx-auto"> Find more Products </button>
        </div>
    </div>
</div>