<div class="container mt-5">
<div class="row">
  <div class="col-md-8 mb-4">
    <div class="card mb-4">
      <div class="card-header py-3">
        <h5 class="mb-0">Biling details</h5>
      </div>
      <!DOCTYPE html>
      <html lang="en">
        <head>
          <meta charset="UTF-8" />
          <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
          />
          <title>Address Selection</title>
          <!-- Include Bootstrap CSS -->
          <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          />
        </head>
        <body>
          <div class="container mt-4">
            <div class="row">
              <div class="col-md-8">
                <h4 class="font-weight-bold">Your Addresses</h4>
              </div>
            </div>

            <hr class="my-2" />

            <!-- Address List -->
            <div class="row" *ngFor="let value of addresses">
              
              <div class="col-md-8">
                <div class="form-check">
                  <input
                    type="radio"
                    name="submissionURL"
                    value="/checkout/p/p-404-7652701-2113154/address/shiptodestination/ref=chk_addr_select_2_customer?_encoding=UTF8&amp;abBusinessGroupId=&amp;action=select-shipping&amp;addressID=W3SG7MEYH3YYEEV54DHEG13S5H84PW0C83A38C0WP48H5SRPXTQ2EYA2OXH3MGQP&amp;enableDeliveryPreferences=1&amp;fromAnywhere=0&amp;numberOfDistinctItems=2&amp;purchaseId=404-7652701-2113154&amp;requestToken="
                    class="form-check-input"
                  />
                  <label class="form-check-label font-weight-bold">
                    {{value.Name}}
                  </label>
                  <span class="mb-2">
                    {{value.Address + ', ' +  value.Area + ', ' + value.City + ', ' + value.State + ', ' + value.Pincode }}
                  </span>
                </div>
              
              </div>
            </div>

            <!-- Add New Address Button -->
            <div class="row mt-2 pb-3">
              <div class="col-md-12">
                <a  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addressdiv">Add a new address</a>
              </div>
            </div>
          </div>
        </body>
      </html>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">Summary</h5>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
            *ngFor="let item of cartproducts"
          >
            Product
            <span>{{ item.product_name }}</span>
          </li>

          <li
            class="list-group-item d-flex justify-content-between align-items-center px-0"
          >
            Delivery Type
            <span>Cash on delivery</span>
          </li>
          <li
            class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
          >
            <div>
              <strong>Total amount</strong>
              <strong>
                <p class="mb-0">(including GST)</p>
              </strong>
            </div>
            <span
              ><strong>{{total}}</strong></span
            >
          </li>
        </ul>

        <button type="button" class="btn btn-primary btn-lg btn-block">
          Make purchase
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Modal Popup code -->

<div class="modal fade" id="addressdiv" tabindex="-1" aria-labelledby="addressdiv" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="card-header" style="width: 100%;">
          <div class="mb-0"><b>Enter New Delivery Address</b></div>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>


      <div class="modal-body">
        <div class="container">
          <div class="h4">Add new address</div>
          <div class="mt-2">
            <form action="">
              <div>
                <label for="country"><b>country/region</b></label>
                <select name="" id="country" class="form-control">
                  <option value="">India</option>
                </select>
              </div>
           
            <div class="mt-2">
              <label for="fullName" id="fullName"><b>Full Name</b></label>
              <input type="text" id="fullName" class="form-control" placeholder="full name">
            </div>

            <div class="mt-2">
              <label for="mob" id="mob"><b>Mobile Number</b></label>
              <input type="text" id="mob" class="form-control" placeholder="Mobile Number">
            </div>

            <div class="mt-2">
              <label for="pin" id="pin"><b>Pincode</b></label>
              <input type="text" id="pin" class="form-control" placeholder="Pincode">
            </div>

            <div class="mt-2">
              <label for="address" id="address"><b>Flat, House no., Building, Company, Apartment</b></label>
              <input type="text" id="address" class="form-control" placeholder="Flat, House no., Building, Company, Apartment">
            </div>

            <div>
              <label for="country"><b>city</b></label>
              <select name="" id="city" class="form-control">
                <option value="">choose a state</option>
              </select>
            </div>

            <div class="mt-4">
              <a href="" class="btn btn-warning">Use this address</a>
            </div>


            </form>
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal popup code ends here -->
